UPLOADTHING_TOKEN=UPLOADTHING_TOKEN

# Khóa công khai (Public Key) - an toàn để chia sẻ
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY

# ID Khách hàng (Client ID) - an toàn để chia sẻ, nhưng Secret thì KHÔNG!
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Cấu hình NextAuth
NEXTAUTH_URL=http://localhost:4000
NEXTAUTH_SECRET=my-local-secret-key-12345
NEXT_PUBLIC_SITE_URL=http://localhost:4000
